{{define "teste.html"}}

{{template "_head"}}

<section class="container mt-2 col-8">
  {{template "_menu"}}
  <div class="contact-area section-padding-0-80">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-heading">
            <h2>Dashboard</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <h1>Logado</h1>
        <ul>
          <li><a class="nav-link btn btn-outline-danger" href="/api/logout" role="button">Sair</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
{{end}}